In [ ]:
import nltk
from nltk.tokenize import word_tokenize
from gensim.models import Word2Vec
import re

In [ ]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

##Bag of words

In [ ]:
komentar = [
          "Pengiriman cepat, kualitas produk baik, penjual ramah",
          "Produk tidak sesuai gambar, tapi memang sesuai harga",
          "penjual responsif dan ramah, produk berfungsi dengan baik",
          "Lumayan untuk harga segini sudah dapat produk bagus",
          "Tidak sesuai ekspektasi, produk berbeda dengan gambar",    
]

Kita juga perlu merubah semua huruf kapital menjadi huruf kecil

In [ ]:
komentar = [re.sub(r'[,.]', '', k) for k in komentar]
komentar

['Pengiriman cepat kualitas produk baik penjual ramah',
 'Produk tidak sesuai gambar tapi memang sesuai harga',
 'penjual responsif dan ramah produk berfungsi dengan baik',
 'Lumayan untuk harga segini sudah dapat produk bagus',
 'Tidak sesuai ekspektasi produk berbeda dengan gambar']

In [ ]:
corpus = [word_tokenize(k.lower()) for k in komentar]
print(corpus)

[['pengiriman', 'cepat', 'kualitas', 'produk', 'baik', 'penjual', 'ramah'], ['produk', 'tidak', 'sesuai', 'gambar', 'tapi', 'memang', 'sesuai', 'harga'], ['penjual', 'responsif', 'dan', 'ramah', 'produk', 'berfungsi', 'dengan', 'baik'], ['lumayan', 'untuk', 'harga', 'segini', 'sudah', 'dapat', 'produk', 'bagus'], ['tidak', 'sesuai', 'ekspektasi', 'produk', 'berbeda', 'dengan', 'gambar']]

## Train Word2Vec Model

In [ ]:
model = Word2Vec(corpus, size=100, window=5, workers=2, min_count=1, iter=100)

## Menyimpan model

In [ ]:
model.save("komentar_app.w2v")

## Load Model
> Menggunakan pretrained model (model yang sudah dibuat sebelumnya)

In [ ]:
model = Word2Vec.load("komentar_app.w2v")

## Menampilkan Informasi dari Model yang Sudah Dibuat

In [ ]:
w2v = model.wv

In [ ]:
w2v.index2word

['produk',
 'sesuai',
 'baik',
 'penjual',
 'ramah',
 'tidak',
 'gambar',
 'harga',
 'dengan',
 'pengiriman',
 'cepat',
 'kualitas',
 'tapi',
 'memang',
 'responsif',
 'dan',
 'berfungsi',
 'lumayan',
 'untuk',
 'segini',
 'sudah',
 'dapat',
 'bagus',
 'ekspektasi',
 'berbeda']

In [ ]:
# Menampilkan vector yang sudah dibuat dari dokumen teks
w2v.vectors

array([[ 4.6550487e-03, -3.4018485e-03,  3.0850745e-03, ...,
        -7.5659249e-04, -1.2821202e-03, -4.3144803e-03],
       [ 4.3541016e-03,  1.2519666e-03, -1.5190177e-04, ...,
        -2.6431710e-03, -1.7639172e-03,  3.6226814e-03],
       [-3.3164010e-03, -1.8477694e-03, -3.0596650e-03, ...,
        -8.7043220e-05, -2.8359287e-03,  1.3246913e-03],
       ...,
       [ 3.3714962e-03, -4.0217126e-03, -4.6000541e-03, ...,
        -3.2129327e-03, -3.0543294e-03,  4.6660043e-03],
       [ 1.1190005e-04, -3.9220187e-03, -5.9467426e-04, ...,
         2.3016443e-03,  3.1223840e-03, -8.2905160e-04],
       [ 1.5452483e-03,  3.0921390e-03, -3.9747534e-03, ...,
         4.9234550e-03, -3.1043689e-03, -4.8187776e-03]], dtype=float32)

In [ ]:
# Menampilkan ukuran vektor
w2v.vector_size

100

In [ ]:
# Menampilkan vektor kata yang terdapat pada vocabulary
w2v['berbeda']

array([ 1.5452483e-03,  3.0921390e-03, -3.9747534e-03, -4.9334308e-03,
       -3.7941155e-03,  3.0377163e-03, -4.1074143e-03,  1.3200036e-03,
        1.9704022e-03,  2.3692898e-03, -2.5274134e-03,  2.9033562e-03,
       -2.6647339e-03, -4.7581163e-03, -1.2213088e-03, -2.6003786e-03,
       -4.3080430e-03,  4.5554419e-03, -2.8350626e-03,  1.1794985e-03,
       -1.9777126e-03, -4.7829188e-03, -4.0085972e-03,  2.6877408e-04,
        3.6605967e-03, -4.6901787e-03, -2.9370845e-03, -7.0622290e-04,
        4.5511019e-03,  2.5414315e-03,  8.3999045e-04, -1.8453394e-03,
       -3.4542296e-03,  4.8215622e-03,  4.3132612e-03, -1.7529891e-03,
       -3.3076450e-03,  2.5681437e-03,  3.8133555e-03,  3.3986797e-03,
        4.1774171e-03, -2.0107033e-03,  6.9778925e-04, -2.4885179e-03,
        4.8426879e-03, -4.8991274e-03,  7.5638812e-04,  3.1145639e-04,
       -1.7849568e-03,  1.1640566e-03,  1.4862450e-03, -3.9704791e-03,
       -1.9652962e-03, -1.1607562e-03, -2.7752711e-04, -1.1014136e-04,
       -3.1861528e-03,  6.4819556e-04, -2.2871725e-04,  4.1414341e-03,
       -3.9039329e-03,  6.3451810e-04, -1.2092468e-03, -4.4545280e-03,
       -1.6821310e-03, -9.4595278e-05, -1.6210788e-03,  2.1273687e-03,
       -2.3987896e-03, -4.0783193e-03, -4.7966223e-03,  2.0737927e-03,
        2.5983450e-03,  3.6603147e-03,  3.5656628e-03,  3.1978711e-03,
       -2.1678448e-04, -1.1373397e-03, -7.2016241e-04,  1.4629909e-03,
        3.3029495e-03, -1.2001372e-03,  1.1393533e-03,  2.2615588e-03,
       -3.8605228e-03, -1.9464676e-03,  3.1934851e-03, -4.1041332e-03,
        2.8168939e-03, -4.7413683e-03,  4.7361571e-03,  1.8391617e-03,
       -2.4274639e-03,  2.9940521e-03, -3.6435812e-03, -1.3063076e-03,
       -1.9258352e-03,  4.9234550e-03, -3.1043689e-03, -4.8187776e-03],
      dtype=float32)

## Sanity Check
> Untuk mengetahui apakah model yang sudah kita train sudah memiliki makna atau masih perlu dilakukan training lanjutan

### Similar Word

In [ ]:
# Menampilkan kata yang memiliki kemiripan makna dengan kata `produk`
# atau dalam kata lain yaitu melihat hubungan semantik dari kata `produk` dengan kata lainnya.
w2v.similar_by_word("produk", topn=5)

[('segini', 0.18046674132347107),
 ('harga', 0.16664007306098938),
 ('gambar', 0.15480855107307434),
 ('berbeda', 0.1539798378944397),
 ('memang', 0.13814537227153778)]

---

## TF-IDF

In [ ]:
# Menggunakan dataset yang sama seperti pada Word2vec. 
komentar

['Pengiriman cepat kualitas produk baik penjual ramah',
 'Produk tidak sesuai gambar tapi memang sesuai harga',
 'penjual responsif dan ramah produk berfungsi dengan baik',
 'Lumayan untuk harga segini sudah dapat produk bagus',
 'Tidak sesuai ekspektasi produk berbeda dengan gambar']

In [ ]:
komentar

['Pengiriman cepat kualitas produk baik penjual ramah',
 'Produk tidak sesuai gambar tapi memang sesuai harga',
 'penjual responsif dan ramah produk berfungsi dengan baik',
 'Lumayan untuk harga segini sudah dapat produk bagus',
 'Tidak sesuai ekspektasi produk berbeda dengan gambar']

In [ ]:
# Import Library yang dibutuhkan
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd


vectorizer = TfidfVectorizer()
result = vectorizer.fit_transform(komentar) #tfidf

In [ ]:
# Menampilkan nama fitur / token dari dataset
print(vectorizer.get_feature_names())

['bagus', 'baik', 'berbeda', 'berfungsi', 'cepat', 'dan', 'dapat', 'dengan', 'ekspektasi', 'gambar', 'harga', 'kualitas', 'lumayan', 'memang', 'pengiriman', 'penjual', 'produk', 'ramah', 'responsif', 'segini', 'sesuai', 'sudah', 'tapi', 'tidak', 'untuk']

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
# Menampilkan hasil vektor kata
print(result)

  (0, 17)	0.354491454113195
  (0, 15)	0.354491454113195
  (0, 1)	0.354491454113195
  (0, 16)	0.20936836335513379
  (0, 11)	0.4393830201954138
  (0, 4)	0.4393830201954138
  (0, 14)	0.4393830201954138
  (1, 10)	0.3097679976786992
  (1, 13)	0.38394944871221537
  (1, 22)	0.38394944871221537
  (1, 9)	0.3097679976786992
  (1, 20)	0.6195359953573985
  (1, 23)	0.3097679976786992
  (1, 16)	0.18295396952806844
  (2, 7)	0.33411913201775406
  (2, 3)	0.4141320520639498
  (2, 5)	0.4141320520639498
  (2, 18)	0.4141320520639498
  (2, 17)	0.33411913201775406
  (2, 15)	0.33411913201775406
  (2, 1)	0.33411913201775406
  (2, 16)	0.1973361417447812
  (3, 0)	0.3813025879625254
  (3, 6)	0.3813025879625254
  (3, 21)	0.3813025879625254
  (3, 19)	0.3813025879625254
  (3, 24)	0.3813025879625254
  (3, 12)	0.3813025879625254
  (3, 10)	0.30763252709183986
  (3, 16)	0.18169272619885407
  (4, 2)	0.4549817658305219
  (4, 8)	0.4549817658305219
  (4, 7)	0.36707642387391093
  (4, 9)	0.36707642387391093
  (4, 20)	0.36707642387391093
  (4, 23)	0.36707642387391093
  (4, 16)	0.21680124922897376

**(4, 16)	0.21680124922897376**
Artinya:
> Terdapat kata dengan index ke-16 pada `vectorizer.get_feature_names()` dalam dokumen ke-5 (index dari nol)
>
> dengan bobot TF-IDF 0.21680124922897376

In [ ]:
print(f"Teks dokumen ke-{4+1}:\n{komentar[4]}")
print(f"Fitur Name ke-16: {vectorizer.get_feature_names()[16]}")

Teks dokumen ke-5:
Tidak sesuai ekspektasi produk berbeda dengan gambar
Fitur Name ke-16: produk

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

> Dapat diketahui bahwa di dalam dokumen ke-1 (index ke-0) terdapat kata produk

In [ ]:
result.todense()

matrix([[0.        , 0.35449145, 0.        , 0.        , 0.43938302,
         0.        , 0.        , 0.        , 0.        , 0.        ,
         0.        , 0.43938302, 0.        , 0.        , 0.43938302,
         0.35449145, 0.20936836, 0.35449145, 0.        , 0.        ,
         0.        , 0.        , 0.        , 0.        , 0.        ],
        [0.        , 0.        , 0.        , 0.        , 0.        ,
         0.        , 0.        , 0.        , 0.        , 0.309768  ,
         0.309768  , 0.        , 0.        , 0.38394945, 0.        ,
         0.        , 0.18295397, 0.        , 0.        , 0.        ,
         0.619536  , 0.        , 0.38394945, 0.309768  , 0.        ],
        [0.        , 0.33411913, 0.        , 0.41413205, 0.        ,
         0.41413205, 0.        , 0.33411913, 0.        , 0.        ,
         0.        , 0.        , 0.        , 0.        , 0.        ,
         0.33411913, 0.19733614, 0.33411913, 0.41413205, 0.        ,
         0.        , 0.        , 0.        , 0.        , 0.        ],
        [0.38130259, 0.        , 0.        , 0.        , 0.        ,
         0.        , 0.38130259, 0.        , 0.        , 0.        ,
         0.30763253, 0.        , 0.38130259, 0.        , 0.        ,
         0.        , 0.18169273, 0.        , 0.        , 0.38130259,
         0.        , 0.38130259, 0.        , 0.        , 0.38130259],
        [0.        , 0.        , 0.45498177, 0.        , 0.        ,
         0.        , 0.        , 0.36707642, 0.45498177, 0.36707642,
         0.        , 0.        , 0.        , 0.        , 0.        ,
         0.        , 0.21680125, 0.        , 0.        , 0.        ,
         0.36707642, 0.        , 0.        , 0.36707642, 0.        ]])

In [ ]:
# Menampilkan hasil TF-IDF dalam bentuk list dua dimensi
result.todense()

matrix([[0.        , 0.35449145, 0.        , 0.        , 0.43938302,
         0.        , 0.        , 0.        , 0.        , 0.        ,
         0.        , 0.43938302, 0.        , 0.        , 0.43938302,
         0.35449145, 0.20936836, 0.35449145, 0.        , 0.        ,
         0.        , 0.        , 0.        , 0.        , 0.        ],
        [0.        , 0.        , 0.        , 0.        , 0.        ,
         0.        , 0.        , 0.        , 0.        , 0.309768  ,
         0.309768  , 0.        , 0.        , 0.38394945, 0.        ,
         0.        , 0.18295397, 0.        , 0.        , 0.        ,
         0.619536  , 0.        , 0.38394945, 0.309768  , 0.        ],
        [0.        , 0.33411913, 0.        , 0.41413205, 0.        ,
         0.41413205, 0.        , 0.33411913, 0.        , 0.        ,
         0.        , 0.        , 0.        , 0.        , 0.        ,
         0.33411913, 0.19733614, 0.33411913, 0.41413205, 0.        ,
         0.        , 0.        , 0.        , 0.        , 0.        ],
        [0.38130259, 0.        , 0.        , 0.        , 0.        ,
         0.        , 0.38130259, 0.        , 0.        , 0.        ,
         0.30763253, 0.        , 0.38130259, 0.        , 0.        ,
         0.        , 0.18169273, 0.        , 0.        , 0.38130259,
         0.        , 0.38130259, 0.        , 0.        , 0.38130259],
        [0.        , 0.        , 0.45498177, 0.        , 0.        ,
         0.        , 0.        , 0.36707642, 0.45498177, 0.36707642,
         0.        , 0.        , 0.        , 0.        , 0.        ,
         0.        , 0.21680125, 0.        , 0.        , 0.        ,
         0.36707642, 0.        , 0.        , 0.36707642, 0.        ]])

In [ ]:
# Membuat dataframe dari list dua dimensi tersebut. 
# Dilakukan transpose agar nama kolom berubah menjadi nama baris
# Nama kolom diubah menjadi urutan dokumen
df = pd.DataFrame(result.todense().T,
                  index=vectorizer.get_feature_names(),
                  columns=[f"D{i+1}" for i in range(len(komentar))])
df

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

                  D1        D2        D3        D4        D5
bagus       0.000000  0.000000  0.000000  0.381303  0.000000
baik        0.354491  0.000000  0.334119  0.000000  0.000000
berbeda     0.000000  0.000000  0.000000  0.000000  0.454982
berfungsi   0.000000  0.000000  0.414132  0.000000  0.000000
cepat       0.439383  0.000000  0.000000  0.000000  0.000000
dan         0.000000  0.000000  0.414132  0.000000  0.000000
dapat       0.000000  0.000000  0.000000  0.381303  0.000000
dengan      0.000000  0.000000  0.334119  0.000000  0.367076
ekspektasi  0.000000  0.000000  0.000000  0.000000  0.454982
gambar      0.000000  0.309768  0.000000  0.000000  0.367076
harga       0.000000  0.309768  0.000000  0.307633  0.000000
kualitas    0.439383  0.000000  0.000000  0.000000  0.000000
lumayan     0.000000  0.000000  0.000000  0.381303  0.000000
memang      0.000000  0.383949  0.000000  0.000000  0.000000
pengiriman  0.439383  0.000000  0.000000  0.000000  0.000000
penjual     0.354491  0.000000  0.334119  0.000000  0.000000
produk      0.209368  0.182954  0.197336  0.181693  0.216801
ramah       0.354491  0.000000  0.334119  0.000000  0.000000
responsif   0.000000  0.000000  0.414132  0.000000  0.000000
segini      0.000000  0.000000  0.000000  0.381303  0.000000
sesuai      0.000000  0.619536  0.000000  0.000000  0.367076
sudah       0.000000  0.000000  0.000000  0.381303  0.000000
tapi        0.000000  0.383949  0.000000  0.000000  0.000000
tidak       0.000000  0.309768  0.000000  0.000000  0.367076
untuk       0.000000  0.000000  0.000000  0.381303  0.000000

In [ ]:
df = pd.DataFrame(result.todense().T,
                  index=vectorizer.get_feature_names(),
                  columns=[f"D{i+1}" for i in range(len(komentar))])
df

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

                  D1        D2        D3        D4        D5
bagus       0.000000  0.000000  0.000000  0.381303  0.000000
baik        0.354491  0.000000  0.334119  0.000000  0.000000
berbeda     0.000000  0.000000  0.000000  0.000000  0.454982
berfungsi   0.000000  0.000000  0.414132  0.000000  0.000000
cepat       0.439383  0.000000  0.000000  0.000000  0.000000
dan         0.000000  0.000000  0.414132  0.000000  0.000000
dapat       0.000000  0.000000  0.000000  0.381303  0.000000
dengan      0.000000  0.000000  0.334119  0.000000  0.367076
ekspektasi  0.000000  0.000000  0.000000  0.000000  0.454982
gambar      0.000000  0.309768  0.000000  0.000000  0.367076
harga       0.000000  0.309768  0.000000  0.307633  0.000000
kualitas    0.439383  0.000000  0.000000  0.000000  0.000000
lumayan     0.000000  0.000000  0.000000  0.381303  0.000000
memang      0.000000  0.383949  0.000000  0.000000  0.000000
pengiriman  0.439383  0.000000  0.000000  0.000000  0.000000
penjual     0.354491  0.000000  0.334119  0.000000  0.000000
produk      0.209368  0.182954  0.197336  0.181693  0.216801
ramah       0.354491  0.000000  0.334119  0.000000  0.000000
responsif   0.000000  0.000000  0.414132  0.000000  0.000000
segini      0.000000  0.000000  0.000000  0.381303  0.000000
sesuai      0.000000  0.619536  0.000000  0.000000  0.367076
sudah       0.000000  0.000000  0.000000  0.381303  0.000000
tapi        0.000000  0.383949  0.000000  0.000000  0.000000
tidak       0.000000  0.309768  0.000000  0.000000  0.367076
untuk       0.000000  0.000000  0.000000  0.381303  0.000000

Kata **tidak** memiliki bobot lebih tinggi pada dokumen ke-5 daripada bobot pada dokumen ke-2

## COSINE SIMILARITY

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity, cosine_distances

In [ ]:
#Kalimat yang ingin dihitung cosine similaritynya 
doc1 = 'this is the first document'
doc2 = 'this document is the second document'

In [ ]:
import pandas as pd

df = pd.DataFrame([
        {'this': 1, 'is':1, 'first':1, 'the':1, 'document':1, 'second':0},
        {'this': 1,'document': 2, 'is':1, 'the':1, 'second':1, 'first':0},   

    ],
    index=[
        "doc1",
        "doc2",
    ])

df

      this  is  first  the  document  second
doc1     1   1      1    1         1       0
doc2     1   1      0    1         2       1

In [ ]:
df.loc["doc1":"doc1"]

      this  is  first  the  document  second
doc1     1   1      1    1         1       0

In [ ]:
cosine_similarity(df.loc["doc1":"doc1"],df.loc["doc2":"doc2"])

array([[0.79056942]])

## LATIHAN

1.  Hitung TF_IDF pada contoh kalimat yang digunakan pada cosine similarity 
2.   Hitung cosine similarity pada kalimat berikut: 

*   Pengiriman dan kualitas produk sangat baik
*  Produk tidak sesuai gambar tapi memang sesuai harga
*   tidak sesuai ekspektasi produk berbeda dengan gambar